---

---

@import '_sprite';

$serif: "elena-web-basic", georgia, serif;
$disp: "klavika-web-disp-cond", sans-serif;
$cond: "klavika-web-condensed", sans-serif;
$color: #333;
$dark: #272C2D;
$light: #DCDAC8;
$link: #FF5720;
$blue: #38556E;
$grey: #DDDDDD;


$sp: 42px;
$heading-sp: 28px;


$show-books: 892px;

* {
  box-sizing: border-box;
}

@mixin link-reset {
  background: none;
  text-shadow: none;
}

body {
  font-family: $serif;
  font-size: 20px;
  @media screen and (min-width:520px) {
    font-size: 22px;
  }
  color: $color;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}

em {
  color: $dark;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 16px;
  max-width: 720px;
  margin: 0 auto;
  &.wide {
    max-width: 1200px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $disp;
  font-weight: 100;
  text-transform: uppercase;
  color: $blue;
  font-size: 27px;
  letter-spacing: 6px;
  line-height: 32px;
  margin-bottom: $heading-sp;
  text-align: center;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

.subtitle {
  font-family: $disp;
  font-weight: 100;
  text-transform: uppercase;
  color: $light;
  font-size: 21px;
  @media screen and (min-width:569px) {
    font-size: 36px;
  }
  letter-spacing: 6px;
  margin-bottom: $heading-sp;
  text-align: center;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

h1 {
  margin-bottom: 56px;
}

hr {
  border: none;
  border-bottom: 1px solid $light;
  max-width: 190px;
  margin: 96px auto;
  &.invisible {
    visibility: hidden;
    margin: 36px auto;
  }
}

a {
  color: $link;
  text-decoration: none;
  border-bottom: 1px solid $light;
  transition: border 0.2s ease-out;
  &:hover {
    border-bottom-color: $link;
  }
}

.btn {
  background: $link;
  color: $light;
  font-family: $cond;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 21px;
  padding: 0.55em 1em;
  display: inline-block;
  border: 2px solid $link;
  transition: all 0.1s ease-out;
  cursor: pointer;
  -webkit-appearance:none;
  &.btn-buy {
    display: block;
    max-width: 260px;
    background: none;
    color: $link;
    border-color: $link;
    position: relative;
    &:hover {
      background: $link;
      color: $light;
    }
    p.buy-formats {
      font-size: 16px;
    }
    .btn-buy__left,
    .btn-buy__right {
      display: inline-block;
    }
    .btn-buy__right {
      background: $link;
      color: $light;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0.9em;
      font-size: 23px;
    }
    p {
      margin: 0;
    }
  }
  &:hover {
    background: none;
    color: $link;
    border-color: $link;
  }
}

.logo {
  display: inline-block;
  background: url(../img/logo.svg) 0 0 no-repeat;
  background-size: contain;
  header & {
    background: url(../img/logo.svg) center center no-repeat;
    background-size: contain;
    width: 160px;
    height: 160px;
  }
}



nav {
  .container {
    max-width: 1230px;
    @media screen and (min-width:1286px) {
      padding: 0;
    }
  }
  &.nav-main {
    background: #fff;
    text-align: right;
    @media screen and (min-width:462px) {
      padding: 0 0 0 26px;
    }
    ul {
      list-style-type: none;
      li {
        display: inline;
        &:last-of-type {
          a {
            margin-right: 0;
          }
        }
        &.mb-hide {
          display: none;
          @media screen and (min-width:612px) {
            display: inline;
          }
        }
        a {
          margin: 0 8px;
          @media screen and (min-width:416px) {
            margin: 0 16px;
          }
          border: none;
          &:hover {
            color: $dark;
          }
        }
        &.nav-logo {
          float: left;
          font-family: $cond;
          text-transform: uppercase;
          font-size: 21px;
          letter-spacing: 0.8px;
          line-height: 21px;
          margin-top: -3px;
          span {
            display: none;
            @media screen and (min-width:660px) {
              display: inline-block;
              margin-left: 0.6em;
            }
          }
          .logo {
            width: 59px;
            height: 58px;
            position: absolute;
            z-index: 1;
            margin-left: -56px;
            margin-top: -31px;
            @media screen and (min-width:660px) {
              margin-top: -19px;
            }
          }
          a {
            border: none;
            color: $blue;
            display: inline-block;
            &:hover {
              color: $dark;
            }
          }
        }
      }
    }
  }
}

header, .overlay {
  background-image: linear-gradient(-180deg, #1A1B1E 0%, #735B6A 100%);
  text-align: center;
  color: $light;
  padding: 46px 26px;
  margin-bottom: $sp;
  clear: both;
  position: relative;
  &.header-condensed {
    text-align: center;
    padding: 96px 26px;
    .header-contents {
      position: static;
    }
    h1 {
      margin-top: 0;
      position: relative;
      z-index: 5;
      font-size: 3.6em;
      letter-spacing: 9px;
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(-180deg, #1f3c3f 0%, #2B1C2F 100%);
    animation: goodmorning 10s infinite;
  }
  @media screen and (min-width:$show-books) {
    padding: 96px 26px;
    text-align: right;
    margin-bottom: 116px;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    @extend .icon;
    @include sprite($bg);
    background-repeat: repeat-x;
    width: auto;
    height: auto;
    z-index: 1;
    opacity: 0.3;
  }
  h1, em {
    color: $light;
  }
  h1 {
    font-size: 52px;
    letter-spacing: 2.31px;
    line-height: 63px;
    margin-bottom: 0;
  }
  .byline {
    margin-top: 0;
  }
  .container {
    position: relative;
    max-width: 1230px;
  }
}

.page-content {
    position: relative;
    z-index: 1;
}

.header-contents {
  max-width: 480px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.formats {
  font-size: 16px;
}

.formats-display {
  background: url(../img/start-hero.svg) 0 0 no-repeat;
  display: inline-block;
  position: relative;
  z-index: 3;
  vertical-align: middle;
  right: 540px;
  position: absolute;
  top: 52px;
  display: none;
  width: 840px;
  height: 632px;
  @media screen and (min-width:$show-books) {
    display: inline-block;
  }
}

.list-posts,
.list-posts-archive {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-posts-archive {
  margin: 0 auto;
  @media screen and (min-width:368px) {
    max-width: 344px;
  }
  @media screen and (min-width:580px) {
    max-width: 519px;
  }
  @media screen and (min-width:734px) {
    max-width: 688px;
  }
  .post {
    &:after {
      display: none;
    }
  }
  li {
    display: inline;
  }
  .post-link {
    display: inline-block;
    vertical-align: top;
    width: 128px;
    height: 128px;
    overflow: hidden;
    border: 5px solid $grey;
    margin: 1em;
    img {
      display: block;
      max-width: none;
    }
  }
}

.list-quotes, .list-testimonials {
  list-style-type: none;
  margin: 0 auto 128px;
  padding: 0;
  max-width: 411px;
  @media screen and (min-width:815px) {
    max-width: 824px;
  }
  @media screen and (min-width:1240px) {
    max-width: 1250px;
  }
  li {
    overflow: hidden;
    max-width: 358px;
    display: inline-block;
    vertical-align: top;
    outline: none;
  }
  blockquote {
    margin: 0;
    border: none;
  }
  br {
    clear: both;
  }
  p {
    font-size: 16px;
    @media screen and (min-width:520px) {
      font-size: 18px;
    }
    padding-bottom: 16px;
    display: block;
  }
  b {
    display: block;
  }
  i {
    display: block;
    font-size: 22px;
    @media screen and (min-width:520px) {
      font-size: 24px;
    }
  }
  .icon {
    float: left;
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 0;
  }
}
.list-testimonials {
  margin-bottom: 66px;
  li {
    max-width: none;
  }
  blockquote {
    padding: 0;
  }
}

.slick-next, .slick-prev {
  display: none !important;
}

.testimonial-lee {
  @include sprite($testimonial-lee);
}
.testimonial-kyle {
  @include sprite($testimonial-kyle);
}
.testimonial-jonny {
  @include sprite($testimonial-jonny);
}
.testimonial-paddy {
  @include sprite($testimonial-paddy);
}
.testimonial-becca {
  @include sprite($testimonial-becca);
}

.slick-slide {
  margin: 0 26px;
}

.slick-dots li {
  &.slick-active {
    button:before {
      background: $link;
    }
  }
  button:before {
    border: 1px solid $link;
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 100%;
    opacity: 1;
    background: none;
  }
}

.list-books {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 56px;
  @media screen and (min-width:$show-books) {
    text-align: left;
  }
  li {
    margin-bottom: 8px;
    &.book-image {
      text-align: center;
      @media screen and (min-width:$show-books) {
        float: left;
        margin-right: 1.6em;
      }
    }
  }
  cite {
    font-style: normal;
    strong {
      color: $dark;
    }
  }
}

.grid-row {
  @media screen and (min-width:580px) {
    margin: 0 -16px;
  }
}

.col-half {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  @media screen and (min-width:580px) {
    max-width: 50%;
    padding: 0 16px;
  }
}

.ta-c, .credit {
  text-align: center;
}

footer {
  background: $dark;
  color: $light;
  font-size: 16px;
  overflow: hidden;
  padding-top: 16px;
  margin-top: 96px;
  p {
    margin-bottom: 0;
    &.ta-c {
      margin: 36px 0;
    }
  }
  .col-half {
    vertical-align: bottom;
    margin-bottom: 16px;
    @media screen and (min-width:580px) {
      margin-bottom: 0;
    }
  }
  ul {
    list-style-type: none;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    margin: 0;
    padding: 0;
    a {
      border: none;
      &:hover {
        color: $light;
      }
    }
  }
  h4 {
    color: $light;
    text-align: left;
  }
  .logo {
    width: 43px;
    height: 51px;
  }
}

#mc_embed_signup {
  text-align: center;
  margin-top: 46px;
}

.inline-form {
  border: 1px solid $light;
  border-radius: 4px;
  display: inline-block;
  background: #fff;
  padding: 3px 3px 4px;
  text-align: left;
  width: 100%;
  max-width: 392px;
  overflow: hidden;
  input[type=text],
  input[type=email] {
    border: none;
    font-family: $serif;
    color: $color;
    padding-left: 10px;
    width: 100%;
    font-size: 16px;
    max-width: 64%;
    margin-top: 10px;
    @media screen and (min-width:520px) {
      font-size: 20px;
    }
    @media screen and (min-width:440px) {
      max-width: 285px;
      margin-top: 8px;
    }
    &:focus {
      outline: none;
    }
  }
  input {
    display: inline-block;
    vertical-align: middle;
  }
  .btn {
    float: right;
  }
}

.credit {
  font-size: 16px;
  font-family: $disp;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
  @media screen and (min-width:540px) {
    margin-left: -57px;
  }
  .sep {
    display: block;
    font-size: 0;
    @media screen and (min-width:520px) {
      font-size: 16px;
      display: inline-block;
      padding: 0 0.6em;
    }
  }
  strong {
    color: $dark;
  }
}

.page-title {
  @extend h1;
}

.archive-link {
  margin-bottom: 96px;
}

.post {
  margin-bottom: 126px;
  &:last-of-type {
    &:after {
      display: none;
    }
  }
  h1 {
    @extend h2;
    a {
      border: none;
    }
  }
  h2 {
    font-family: $serif;
    text-transform: none;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 8px;
    a {
      border: none;
    }
  }
  ul {
    list-style-type: disc;
  }
  ul, ol {
    li {
      margin-bottom: 0.5em;
    }
  }
}

.post-image {
  border: 5px solid $grey;
}

.post-meta {
  list-style-type: none;
  padding: 0;
  margin: 0 0 26px;
  color: fade-out($color, 0.8);
  a {
    color: fade-out($color, 0.8);
    transition: all 0.26s ease-out;
    &:hover {
      color: $link;
      border-color: $link;
    }
  }
  &.post-meta--footer {
    margin: 1.6em 0 26px;
    padding-top: 0.3em;
    border-top: 1px solid $light;
    // font-family: $cond;
    // text-transform: uppercase;
    a {
      color: fade-out($color, 0.7);
      border: none;
      &:hover {
        color: fade-out($color, 0.5);
      }
    }
  }
  li {
    font-size: 0.81em;
    display: inline-block;
    margin-right: 1em;
  }
  .post-meta--unix {
    a {
      color: $color;
      border: none;
      &:hover {
        color: $color;
      }
    }
  }
}

blockquote {
  border-left: 5px solid $blue;
  margin-left: 0;
  padding-left: 1.2em;
  font-style: italic;
  color: $blue;
  font-size: 1.15em;
  cite {
    &:before {
      content: '— ';
    }
  }
}

.overlay-close {
  text-align: right;
}

.ico-close {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../img/ico-close.png) 0 0 no-repeat;
  border: none;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  padding: 0;
  text-align: center;
  margin-bottom: auto;
  h2 {
    color: $link;
  }
  p {
    max-width: 572px;
    margin: 0 auto;
  }
  &:after {
    animation: none;
  }
  .container {
    margin-top: 56px;
    width: 100%;
    position: relative;
    z-index: 1;
    @media screen and (min-width:580px) {
      margin-top: 0;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
  &.active {
    display: block;
    .container {

    }
  }
}

.btn {
  &.ico-twitter, &.ico-rss {
    background: $link;
    padding: 0.239em 0.3em;
    vertical-align: top;
    position: relative;
    &:after {
      content: '';
      display: inline-block;
      width: 28px;
      height: 28px;
      background: $light;
      -webkit-mask:  url(../img/ico-twitter.svg) no-repeat 50% 50%;
      mask: url(../img/ico-twitter.svg) no-repeat 50% 50%;
      -webkit-mask-size: contain;
      -o-mask-size: contain;
      mask-size: contain;
      position: relative;
      top: 2px;
    }
    &:hover {
      background: none;
      &:after {
        background: $link;
      }
    }
    span {
      display: none;
    }
  }
  &.ico-rss {
    &:after {
      -webkit-mask:  url(../img/ico-rss.svg) no-repeat 50% 50%;
      mask: url(../img/ico-rss.svg) no-repeat 50% 50%;
      -webkit-mask-size: contain;
      -o-mask-size: contain;
      mask-size: contain;
      width: 21px;
      padding: 0 0.2em;
    }
  }
}


@keyframes goodmorning {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.book-left, .book-right {
  @media screen and (min-width:900px) {
    display: inline-block;
    vertical-align: top;
  }
}
.book-left {
  @media screen and (min-width:$show-books) {
    margin-top: 56px;
  }
  .btn {
    margin: 0 auto;
    @media screen and (min-width:900px) {
      margin: 0;
    }
  }
  @media screen and (min-width:900px) {
    max-width: 41%;
    > p {
      font-size: 18px;
      padding-right: 5em;
    }
  }
  width: 100%;
}
.book-right {
  width: 100%;
  @media screen and (min-width:900px) {
    max-width: 59%;
  }
  hr {
    margin-top: 56px;
  }
}

.list-chapters {
  margin: 56px 0 0;
  padding: 0;
  list-style-type: none;
  li {
    margin-bottom: 56px;
    p {
      font-size: 18px;
      opacity: 0.8;
    }
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
    font-family: $serif;
    text-transform: none;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: -16px;
  }
}



.nav-wrap {
  background: #fff;
  @media screen and (max-width:1102px) {
    padding: 0.5em 1em;
  }
}


#wrap {
  z-index: 1;
  position: relative;
  background: #fff;
  @media screen and (max-width:1102px) {
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.3);
  }
}

#menu-link {
  position: absolute; top: 0.6em; right: 1.25em; display: block; width: 2.625em; height: 2.25em; background: url("../img/ico-nav.svg") center center no-repeat; background-size: 1.563em 1.25em; -webkit-border-radius: 0.188em; -moz-border-radius: 0.188em; -ms-border-radius: 0.188em; -o-border-radius: 0.188em; border-radius: 0.188em; outline: none; overflow: hidden; white-space: nowrap; text-indent: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); z-index: 999; border: none;
  @media screen and (min-width:512px) {
    top: 0.5em;
  }
}

@media screen and (min-width: 1103px) {
  #menu-link { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
  #menu .block-title { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
  #menu .close { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
  #menu ul { text-align: center; white-space: nowrap; }
  #menu li { display: inline-block; border-right: 1px solid rgba(255, 255, 255, 0.1); }
  #menu li:last-child { border-right: none; }
  #menu li a { padding: 0.429em 0.857em; }
}
@media screen and (max-width: 1102px) {
  #menu li {
    &.nav-logo {
      display: none;
    }
  }
  #container {
    overflow-x: hidden;
  }
  .js-advanced #wrap {
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
  }
  #menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 190px;
    height: 100%;
    margin: 0;
    padding-top: 1em;
  }
  .js-advanced #menu {
    right: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: -1;
  }
  .js-advanced.js-menu #menu {
    -webkit-transform: translate3d(190px, 0, 0);
    -moz-transform: translate3d(190px, 0, 0);
    -ms-transform: translate3d(190px, 0, 0);
    -o-transform: translate3d(190px, 0, 0);
    transform: translate3d(190px, 0, 0);
    z-index: 9;
    // right: -240px;
    overflow: hidden;
  }
  .js-advanced.js-menu #wrap {
    -webkit-transform: translate3d(-190px, 0, 0);
    -moz-transform: translate3d(-190px, 0, 0);
    -ms-transform: translate3d(-190px, 0, 0);
    -o-transform: translate3d(-190px, 0, 0);
    transform: translate3d(-190px, 0, 0);
  }
  #menu li a {
    display: block;
    margin: 0;
    padding: 0.5em 1em 0.5em 0;
  }
  .js-basic.js-menu #wrap {
    right: 0;
  }
}


.nav-logo.mb-only {
  font-family: "klavika-web-condensed",sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  letter-spacing: 0.8px;
  line-height: 21px;
  margin-top: 0;
  display: none;
  position: relative;
  top: 2px;
  @media screen and (max-width:1102px) {
    display: inline-block;
  }
  a {
    border: none;
    color: #38556E;
  }
  .logo {
    width: 40px;
    height: 48px;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.4em;
  }
}

.list-tiers {
  list-style-type: none;
  margin: 0;
  padding: 0;
  h3 {
    border-bottom: 1px solid $light;
    padding-bottom: 0.6em;
  }
  small {
    display: block;
    text-align: center;
    font-style: italic;
  }
  ul {
    margin: 0 0 1em
    padding: 0;
    font-size: 18px;
    opacity: 0.8;
    line-height: 2;
    text-align: center;
    li {
      list-style-type: none;
    }
  }
  .ta-c {
    margin-bottom: 0;
  }
  > li {
    display: inline-block;
    vertical-align: top;
    max-width: 33.3%;
    width: 100%;
    padding: 0.6em;
    .tier {
      border: 1px solid $light;
      padding: 0.4em 1em 1.3em;
      border-radius: 3px;
    }
  }
}
