<nav class="nav-main">
  <div class="container">
    <ul>
      <li class="nav-logo"><a href="{{ site.baseurl }}/"><i class="icon logo"></i> <span>Tiny Books</span></a></li>
      <li><a href="{{ site.baseurl }}/books">Books</a></li>
      <li><a href="{{ site.baseurl }}/journal">The Journal</a></li>
      <li><a href="{{ site.baseurl }}/speaking">Speaking</a></li>
      <li><a href="{{ site.baseurl }}/biography">Biography</a></li>
      <li class="mb-hide"><a class="js-newsletter" href="">Newsletter</a></li>
    </ul>
  </div>
</nav>
<header class="header-condensed">
  <div class="container">
    <div class="header-contents">
      {% if page.url contains "journal" %}
      <span class="page-title">Journal</span>
      {% else %}
      <h1>{{ page.title }}</h1>
      {% endif %}
    </div> <!-- /.header-contents -->
  </div>
</header>
