<nav class="nav-main">
  <div class="container">
    <ul>
      <li class="nav-logo"><a href="{{ site.baseurl }}/"><i class="icon logo"></i> <span>Tiny Books</span></a></li>
      <li><a href="{{ site.baseurl }}/books">Books</a></li>
      <li><a href="{{ site.baseurl }}/journal">Journal</a></li>
      <li><a href="{{ site.baseurl }}/purpose">Purpose</a></li>
      <li class="mb-hide"><a class="js-newsletter" href="">Newsletter</a></li>
    </ul>
  </div>
</nav>
<header>
  <div class="container">
    <div class="icon formats-display"></div>
    <div class="header-contents">
      <i class="icon logo"></i>
      <h1>Tiny Books</h1>
      <p class="byline"><i>by</i> Christopher Murphy</p>
      <p>Short, sharp books for creative entrepreneurs that explore the design of business and the business of design.</p>
      <p class="formats">Available in Kindle, PDF and ePub formats.</p>
      <p class="ta-c"><a href="js-newsletter" class="btn">Find out more</a></p>
    </div> <!-- /.header-contents -->
  </div>
</header>