<div class="nav-wrap">
  <span class="nav-logo mb-only"><a href="{{ site.baseurl }}/"><i class="icon logo"></i> <span>Tiny Books</span></span>
  <a id="menu-link" href="#menu"><span>Menu</span></a>
  <nav class="nav-main">
    <div class="container">
      <ul id="menu">
        <li class="nav-logo"><a href="{{ site.baseurl }}/"><i class="icon logo"></i> <span>Tiny Books</span></a></li>
        <li><a href="{{ site.baseurl }}/books">Books</a></li>
        <li><a href="{{ site.baseurl }}/journal">The Journal</a></li>
        <li><a href="{{ site.baseurl }}/speaking">Speaking</a></li>
        <li><a href="{{ site.baseurl }}/biography">Biography</a></li>
        <li><a class="js-newsletter" href="">Newsletter</a></li>
      </ul>
    </div>
  </nav>
</div>
<header>
  <div class="container">
    <div class="icon formats-display"></div>
    <div class="header-contents">
      <i class="icon logo"></i>
      <h1>Tiny Books</h1>
      <p class="byline"><i>by</i> Christopher Murphy</p>
      <p>Short, sharp books for creative entrepreneurs that explore the design of business and the business of design.</p>
      <p class="formats">Available in PDF, ePub and Kindle formats.</p>
      <p class="ta-c"><a href="{{ site.baseurl }}/purpose" class="btn">Find out more</a></p>
    </div> <!-- /.header-contents -->
  </div>
</header>
