<div class="overlay-close">
	<a href="" class="js-overlay-close ico-close"></a>
</div>

<h2 id="signup">Sign Up for Updates</h2>

<p>I’m hard at work on everything just now. (I’m also <a href="books/you-are-a-channel/">writing in the open</a>, so you can follow along for free.) To be notified the moment the first Tiny Book is finished, sign up below. I promise I won’t overwhelm your inbox and I won’t share your email address with anyone. Scouts' honour!</p>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://tinybooks.us7.list-manage1.com/subscribe/post?u=92a409685a054e615425c795a&amp;id=c929fca6e7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate inline-form" target="_blank" novalidate>

	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required><!--
	--><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="mailchimp_button btn">
</form>
</div> <!-- /mc_ember_signup -->
