$testimonial-jonny: -2px -2px 39px 39px;
$testimonial-kyle: -2px -45px 39px 39px;
$testimonial-becca: -2px -89px 41px 41px;
$testimonial-lee: -2px -134px 41px 41px;
$testimonial-paddy: -2px -179px 41px 41px;
$logo: -2px -224px 122px 138px;
$formats-display: -2px -366px 840px 632px;
$bg: -2px -1002px 1214px 709px;

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite($sprite) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.icon {
  background-image: url('../img/icons/sprite.png');
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .icon {
    background-image: url('../img/icons/sprite@2x.png');
    background-size: 1218px 1713px;
  }
}
